<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"> </title>
</head>
<body>
<form th:object="${newMessage}" th:action="@{/home}" action="#" method="POST">
    <label for="newMessageText">Submit a new Message:</label>
    <input th:field="*{text}" type="text" id="newMessageText" name="newMessageText">
    <input type="submit">
</form>

<h1 th:each="msg : ${greetings}"
    th:text="${msg}"
    th:unless="${msg.contains('goodBye')}"
>Hello, Home Page</h1>
<!--<h1 th:text="${message}"> </h1>-->
<!--<p th:text="'Date : '+${date}"></p>-->
<!--<p th:text="'Time : '+${time}"></p>-->
</body>
</html>